header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 0ch rgb(0, 0, 0) solid;
    box-shadow: 0px 0px 20px 0px #000000;
    margin-bottom: 10px;
    background-color: #de7e80;
    position: fixed;
    z-index: 5;
    top: 0;
    height: 130px;
}

#CVsSentList {
    background-color: white;
    position: fixed;
}

footer {
    margin-top: 20px;
    background-color: #de7e80;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}